nav {
  height: 40px;
  font-size: .8em;
  font-weight: bold;
  padding-left: 10px;
  margin-right: 15px;
}

nav ul {
  position: relative;
  float: left;
}

nav ul:after {
  content: "";
  clear: both;
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
}

nav ul li:hover > ul {
  display: block;
  z-index: 1;
}

.primary {
  float: left;
  padding: 8px 15px;
  color: #333;
  margin-right: 1px;
}

.primary li {
  padding: 5px 15px;
  margin-left: -15px;
  background-color: rgb(250,250,250);
}

.primary.active,.primary:hover,li.secondary {
  background-color: rgb(240,240,240);
}

.primary li:first-of-type {
  margin-top: 8px;
}

li.secondary {
  color: #666;
  width: 150px;
}

li.secondary, li.tertiary {
-webkit-box-shadow: -4px 8px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 8px 10px 0px rgba(0,0,0,0.75);
box-shadow: -4px 8px 10px 0px rgba(0,0,0,0.75);
}


li.tertiary:hover {
  background: #fff;
}

.tertiary a {
  color: #333;
  display: block;
}