.skill-tree {
  margin-bottom: 30px;
}

.container {
  padding-right: 15px;
  padding-bottom: 25px;
  height: 50px;
  width: 50px;
}

.skill {
  height: 50px;
  width: 50px;
}

.lvl {
  font-size: .6em;
  border: 1px solid rgb(85,85,85);
  background: rgb(85,85,85);
  font-weight: bold;
  padding: 2px 4px 2px 5px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 40px;
  float: right;
}

.lvl.r {
  background-color: #ff0000;
  border-color: #ff0000;
}

.skill-tree {
  display: none;
}

#skill-tree-0 {
  display: block;
}