#download {
  margin-top: 15px;
}

#download ul {
  position: relative;
}

#download ul:after {
  content: "";
  clear: both;
}

#download ul ul {
  display: none;
  position: absolute;
}

#download ul li:hover > ul {
  display: block;
  width: 100%;
  padding-top: 8px;
}

#download ul li ul li {
  padding: 8px 14px;
  margin-right: -14px;
  margin-left: -14px;
  background-color: rgb(240,240,240);
  border-top: 1px solid #fff;
}

#download a {
  display: block;
}