#download {
  margin-top: 25px;
}

#download fieldset {
  border: 0;
}

#download legend {
  padding-bottom: 2px;
}

#dlh, #dlv {
  margin-top: 5px;
  padding: 2px 5px;
}

#dlv {
  margin-left: 10px;

}