#download {
  width: 40px;
  float: right;
}

#download ul {
  position: relative;
}

#download ul:after {
  content: "";
  clear: both;
}

#download ul ul {
  display: none;
  position: absolute;
}

#download ul li:hover > ul {
  display: block;
  width: 100%;
  padding-top: 5px;
  z-index: 1;
}

#download ul li ul li {
  padding: 8px 14px;
  margin-right: -14px;
  margin-left: -144px;
  background-color: rgb(240,240,240);
  border-bottom: 1px solid transparent;
  width: 165px;
  text-align: left;
  border: 1px solid #ccc;
}

#download a {
  display: block;
}