#sidebar-1 {
  float: left;
  width: 250px;
  margin-top: 2.5px;
  margin-left: 10px;
  font-size: .9em;
}

#job-sp li, #total-sp li, #levelcap, #download {
  background-color: rgb(240,240,240);
  color: #333;
  padding: 8px 14px;
  border-bottom: 1px solid #fff;
}

#job-sp .active {
  background-color: rgb(225,225,225);
}

#job-sp .sp, #total-sp .sp {
  float: right;
}

#job-sp .r, #total-sp .r {
  color: #ff0000;
}

#job-sp input {
  padding: 2px 5px;
  margin-right: 5px;
}

#total-sp {
  padding-top: 5px;
}
