#sidebar-1 {
  float: left;
  width: 250px;
  margin-top: 2.5px;
  margin-left: 10px;
}

#job-sp li {
  background-color: rgb(240,240,240);
  color: #333;
  padding: 8px 14px;
  border-bottom: 1px solid #fff;
}

#job-sp .active {
  background-color: rgb(225,225,225);
}

#job-sp .sp {
  float: right;
}

#job-sp li:nth-last-child(2) {
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: 5px 0;
}

#job-sp li:last-of-type {
  margin-top: 0;
}

#job-sp .r {
  color: #ff0000;
}