#levelcap {
  margin-top: 15px;
  padding: 8px 14px;
}

#levelinputs {
  display: block;
}

#cap {
  width: 35px;
  margin-right: 5px;
  text-align: right;
  display: inline;
}

#capchanger {
  text-transform: lowercase;
  display: inline;
}

#cap, #capchanger {
  padding: 2px 5px;
  font-size: .9em;
}