#levelcap {
  margin-top: 15px;
}

#cap {
  width: 25px;
  padding: 2px 5px;
  float: right;
  margin-right: 5px;
  text-align: right;
  margin-top: 2px;
}

#capchanger {
  margin-top: 3px;
  text-transform: lowercase;
  font-size: .9em;
  float: right;
}