* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.2em;
  background: #fff;
  color: #333;
}

h2 {
  font-size: 1.2em;
}

a, a:visited, a:link, a:active, a:hover {
  text-decoration: none;
  color: #333;
}

main {
  width: 1000px;
  margin: 10px auto;
}

section {
  float: left;
  margin-left: 50px;
}


table {
  border-collapse: collapse;
}

ul {
  list-style-type: none;
}

#sidebar-1 {
  float: left;
  width: 250px;
}

#job-list-sp {
  
}

#job-list-sp li {
  border: 1px solid #000;
  background-color: #000;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 5px;
  color: #fff;
}

#job-list-sp .sp {
  float: right;
}

#job-list-sp li:last-of-type {
  color: rgb(200, 255, 255);
  margin-top: 10px;
}

#job-list-sp .active {
  color: rgb(250, 210, 140);

}

/* some stuff are temp */
.skill-tree {
  margin-bottom: 30px;
}

.skill-container {
  padding-right: 15px;
  padding-bottom: 25px;
  user-select: none; /* CSS3 (little to no support) */
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: none; /* Gecko (Firefox) */
  -webkit-user-select: none; /* Webkit (Safari, Chrome) */
  unselectable: on;
  height: 50px;
  width: 50px;
}

.skill {
  height: 50px;
  width: 50px;
}

.lvl {
  font-size: .6em;
  border: 1px solid #787878;
  padding: 2px 4px;
  background: #787878;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 38px;
  float: right;
}

#sidebar-2 {
  width: 300px; 
  float: left;
  margin-left: 40px;
  font-size: 0.8em;
}

#sidebar-2 {
  line-height: 1.4em;
}

#sidebar-2 li span {
  color: rgb(210, 180, 140);
}