* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.2em;
  background: #fff;
  color: #333;
}

h2 {
  font-size: 1.2em;
}

a, a:visited, a:link, a:active, a:hover {
  text-decoration: none;
  color: #333;
}

main {
  width: 1000px;
  margin: 10px auto;
}

section {
  float: left;
  margin-left: 50px;
}


table {
  border-collapse: collapse;
}

ul {
  list-style-type: none;
}

#sidebar-1 {
  float: left;
  width: 250px;
}

#job-list-sp {
  
}

#job-list-sp li {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

#job-list-sp .sp {
  float: right;
}

#job-list-sp li:last-of-type {
  color: rgb(200, 255, 255);
  margin-top: 10px;
}

#job-list-sp .active {
  color: rgb(250, 210, 140);

}

/* some stuff are temp */
.skill-tree {
  margin-bottom: 30px;
}

.skill-container {
  padding-right: 15px;
  padding-bottom: 25px;
  user-select: none; /* CSS3 (little to no support) */
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: none; /* Gecko (Firefox) */
  -webkit-user-select: none; /* Webkit (Safari, Chrome) */
  unselectable: on;
  height: 50px;
  width: 50px;
}

.skill {
  height: 50px;
  width: 50px;
}

.lvl {
  font-size: .6em;
  border: 1px solid #787878;
  padding: 2px 4px;
  background: #787878;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 38px;
  float: right;
}

#sidebar-2 {
  width: 350px; 
  float: left;
  margin-left: 40px;
  font-size: 0.8em;
}

#sidebar-2 {
  line-height: 1.4em;
}

#sidebar-2 li span.y {
  color: rgb(210, 180, 140);
}

#sidebar-2 li .description .y {
 color: rgb(200, 200, 100); 
  font-weight: bold;
}

#skill-sp {
  float: right;
}

#next-description {
  margin-top: 15px;
}

#builder {
  width: 100%;
  padding: 5px;
  margin: 10px 0 20px 0;
  clear: both;
  border: 1px solid black;
}

nav {
  height: 40px;
  width: 100%;
  text-align: center;
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
}
nav ul {
  position: relative;

}
nav ul:after {
  content: "";
  clear: both;
  display: block;
}
nav ul ul {
  position: absolute;
}

.primary {
  display: inline-table;
  padding: 5px 15px;
  background-color: #000;
  color: #fff;
}

.primary li {
  padding: 5px 15px;
  margin-left: -15px;
  text-align: left;
  background-color: #000;
}

.secondary {
  color: rgb(200, 255, 255);
  width: 150px;
}

.tertiary a {
  color: rgb(250, 210, 140);
}