* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.2em;
  background: #fff;
  color: #000;
}

a, a:visited, a:link, a:active, a:hover {
  text-decoration: none;
  color: #333;
}

main {
  width: 980px;
  margin: 10px auto;
}

section {
  float: left;
  margin-left: 50px;
}

table {
  border-collapse: collapse;
}

ul {
  list-style-type: none;
}

.no-select {
  user-select: none; /* CSS3 (little to no support) */
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: none; /* Gecko (Firefox) */
  -webkit-user-select: none; /* Webkit (Safari, Chrome) */
  unselectable: on;
}