nav {
  height: 40px;
  font-size: .8em;
  font-weight: bold;
  padding-left: 10px;
  margin-right: 20px;
}

nav ul {
  position: relative;
  float: left;
}

nav ul:after {
  content: "";
  clear: both;
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
}

nav ul li:hover > ul {
  display: block;
}

.primary {
  float: left;
  padding: 8px 20px;
  background-color: rgb(240,240,240);
  color: #333;
  margin-right: 1px;
}

.primary li {
  padding: 5px 15px;
  margin-left: -20px;
  background-color: rgb(235,235,235);
}

.primary li:first-of-type {
  margin-top: 8px;
}

li.secondary {
  color: #666;
  background-color:rgb(225,225,225);
  width: 150px;
}

li.tertiary:hover {
  background: rgb(245,245,245);
}

.tertiary a {
  color: #333;
  display: block;
}