nav {
  height: 40px;
  width: 970px;
  text-align: center;
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul {
  position: relative;

}

nav ul:after {
  content: "";
  clear: both;
  display: block;
}

nav ul ul {
  position: absolute;
}

.primary {
  display: inline-table;
  padding: 5px 15px;
  background-color: #000;
  color: #fff;
}

.primary li {
  padding: 5px 15px;
  margin-left: -15px;
  text-align: left;
  background-color: #222;
}

li.secondary {
  color: #fff;
  background-color: rgb(55, 105, 160);
  width: 150px;
}

li.tertiary:hover {
  background: #444;
}

.tertiary a {
  color: #fff;
  display: block;
}