#warnings {
  font-size: .8em;
  display: none;
  margin-top: 25px;
  overflow-y: auto;
  height: 275px;
}

#warnings li:first-of-type {
  font-weight: bold;
  font-size: 1.1em;
}

#warnings li:not(:first-of-type) {
  margin-bottom: 5px;
  padding: 5px;
}